<ion-view view-title="Product">
  <ion-content>
      <div class="scroll">

      <div class="list card">
        <div class="item">
          # {{product.id}}
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col">
              <p> Designation :</p>
              <h2> {{product.designation}}</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p> Price :</p>
              <h2> {{product.price}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bubble bubble-bottom">
      <button class="button button-balanced ion-compose"
              ng-click="edit()">
        <!-- no content -->
      </button>
      <button class="button button-assertive ion-trash-b"
              ng-click="delete()">
        <!-- no content -->
      </button>
  </div>
</ion-view>
