<ion-view view-title="Clients">
  <ion-content>
      <div>
          <div class="list list-inset padding-bottom">
              <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                  <input type="text" placeholder="Search" ng-model="query">
              </label>
          </div>
      </div>
      <ion-list>
      <ion-item ng-repeat="client in clients | filter:query" href="#/app/clients/{{client.id}}">
        <h2> {{client.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>

    <div class="bubble bubble-bottom">
        <button class="button ion-plus" ng-click="add()">
            <!-- no content -->
        </button>
    </div>
</ion-view>
